body {
  font-family: sans-serif;
  background-color: #10afc1;
}

#main_content {
  width:800px;
  margin:0 auto;
}

header {
  text-align: center;
  border: double 5px;
  background-color: rgb(97, 0, 97);
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.team {
  width: 50%;
  height: 200px;
  float: left;
}

.team1 {
  background-color: tomato;
  text-align: center;
}

.team2 {
  background-color: plum;
  text-align: center;
}

button {
  display: inline-block;
  padding: .75rem 1.25rem;
  border-radius: 10rem;
  background-color:rgb(97, 0, 97);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  position: relative;
}

.team-name {
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

footer {
  font-size: x-small;
  color: rgb(97, 0, 97);
}
